*,p,a{
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
nav{
    background-color: white;
}

.x-axis
{
    display: flex;
    flex-direction: row;
}
.y-axis
{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
    /* color: transparent; */
}
