body {
    /* opacity: 0.5; */
    /* background: #F3F2F5; */
    background: #F8F8F9;
}
.mobilesection
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobilesection h3 {
    color: #000;
    text-align: center;

    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.69px;
}


/* .models {
    list-style: none;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-height: 150px;
    justify-content: space-around;
} */
.product-image{
    /* text-align: center; */
}
.models a{
    display: none;
}

.models li {
    margin-top: 20px;
    color: #000;
    text-align: center;

    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


a:hover {
    border-radius: 6px;
    background: #FFF;
    color: #3089F1;
    /* padding: 10px; */
    /* box-shadow: -4px 4px 24px 0px rgba(0, 0, 0, 0.06); */
}

.wholehero {
    width: 100%;
    background-color: #F3F2F5;
}

.herobox {

    background: #F3F2F5;
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;

    padding: 3.5%;
}

.left-hero {
    width: 50%;
    margin: auto;
    /* margin: auto; */
    /* border: 2px solid; */
}

.right-hero {
    width: 30%;
    /* margin: auto; */
}


.lft-herocontent p {
    width: 100%;
    text-align: left;
}

.herobtnclass {
    margin-top: 40px;

}

.lft-herocontent a,
#submit {
    border: 2px solid;
    padding: 16px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3089F1;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#submitid {

    text-align: center;
    margin-bottom: 20px;
    /* margin: auto; */
}

.left-hero h1 {
    color: #000;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    width: 100%;
    /* text-align: center; */
}

.orange,#orange {
    color: #F44913;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    /* 376.471% */
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.form {

    width: 100%;
    /* margin: 10%;*/
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
    border-radius: 13px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type=text],
input[type=number],
input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #C3C3C3;
    background: #FFF;
}

.textcontext {
    width: 80%;
    margin: auto;
    margin-top: 10px;


}

.textparent {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 170px;
    /* padding: 500px; */
    /* background: #FFF; */
    /* padding: 5%; */
}

.textcontext h1 {
    color: #000;

    font-style: normal;
    font-weight: 700;
    width: 80%;
    margin: auto;
    /* font-size: 50px; */
    font-size: 3.5rem;
    line-height: 70px;
    /* 121.795% */
}

.parabox {
    width: 80%;

    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.parabox p {
    width: 60%;
    font-size: 20px;
    /* margin: auto; */
    /* text-align: left; */
}


.twoboxes-content {
    width: 100%;
    display: flex;

}

.twobox-text-left,
.twobox-text-right {
    width: 30%;
    margin: auto;
}


.restbox {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.righbox {
    background-color: #000;
    padding: 10%;
}

.righbox h1 {
    color: #FFF;


    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    /* 113.971% */
}



.txtcontentp {
    color: #6E6E73;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 152.381% */
    letter-spacing: -0.42px;
}

.txt h3,
p {
    color: #6E6E73;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    text-align: left;
    /* 133.333% */
}

.txt .black {
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 700;

}

.successmsg,.errormsg
{
    display: none;
}
.active{
    display: block;
}




  
 .block{
    display: none;
 }

.upload{
    width: 100%;
    text-align: center;
    border: 2px solid #C3C3C3;
    background: #FFF;
    border-radius: 8px;
    padding: 35px;
    cursor: pointer;
    height: 100px;
    border-style: dashed;
}
svg{
    width:94;
    height:42;
    /* border: 2px; */
}
.models li
{
    display: flex;
    
    /* border-radius: 2px;  */
    flex-direction: column;
    height: 40px;
}
.modelname{
    cursor: pointer;
    text-align: center;
}
.modelname:hover{
    color: #3089F1;
}
form img {
    width:100%;
    display:none;
    margin-bottom:30px;
  }
  
  .sub{
    border: 2px solid;
    padding: 16px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #3089F1;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

  }


.wholecontainer
{
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    padding: 20px;
    margin-top: 50px;
}
.mbno{
    
font-size: 21px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.innerBox
{
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    /* padding: 20px; */
    background-color: #F3F2F5;
    
}
#rightDabba
{
    min-height: 150px;
    border-radius: 12px;
    padding: 30px;
    background-color: white;

}
.boxDabba{
    width: 20px;
    border:2px solid #3089F1;
    border-radius: 3px;
    height: 20px;
    
    /* background-color: red; */
}
.parentBox{
    align-items: center;
    gap: 10px;
    /* font-family: SF Pro Text; */
font-size: 18px;
font-weight: 550;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}

.activebox
{
    border: none;
    background-color: #3089F1;
}
table {
    /* border-left: 6px dotted #3089F1; */
    height: 50px;
    /* border-style: dotted; */
    color: #3089F1;
    margin-left: 7px;
    
  }

.tick
{
    background-color: #22C550;
    border-radius: 50px;
}
@media (max-width: 768px) {
    .models {
        /* flex-direction: column; */
        gap: 25px;  
        flex-wrap: wrap;
    }


    .left-hero,
    .right-hero,
    .herobox,.innerBox {
        width: 100%;
    }

    .twobox-text-left,
    .twobox-text-right {
        width: 100%;
    }
    #rightDabba{
        margin-top: 20px;
    }
    .herobox,
    .textcontext,
    .twoboxes-content {
        flex-direction: column;
    }

    .form {
        width: 100%;
        margin: auto;
        
        margin-top: 100px;
    }

    .herobtnclass {
        text-align: center;
    }
    /* .textcontext  { */
        /* width: 100%; */
    /* } */

    .parabox p,
    .parabox {
        width: 100%;
    }
    .textcontext h1
    {
        font-size: 2rem;
        width: 100%;
        line-height: 40px;
    }
    #melaspace{
        margin-top: 40px;
    }
}